.task-item{
  border-top: 1px solid #eeeeee;
  padding: .6rem .5rem;
  position: relative;
  > div{
    margin-right: 6rem;
    .title{
      color: #e73d57;
      font-size: .9rem;
    }
    .newHand-task{
      background-color: #f6b648;
      color: #fff;
      border-radius: .2rem;
      display: inline-block;
      padding: 0 .2rem;
      line-height: .8rem;
      margin-left: .2rem
    }
    .not-newHand-task{
      color: #9f9e9f;
      margin-left: .2rem
    }
    .remark{
      margin-top: .1rem;
      font-size: .7rem;
      color: #9f9e9f;
    }
  }
  > img{
    width: 4.5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
  }
}