.tel-detail{
    background: #fff;
  .info-item{
    margin-top: .5rem;
  }
  .tip{
    text-align: center;
    color: #a5a6a6;
    font-size: .5rem;
    margin: .3rem 0;
  }
  .tel{
    text-decoration:none;
    color:#333;
    display:inline !important;
  }
  .add-border{
      border-bottom: 1px solid #ccc;
  }
}