.account-center{
    background: #fff;
    color: #333;
    .add-border{
        border-bottom: 1px solid #ccc;
    }
  .top{
    p{
      text-align: center;
      color: #fff;
      margin: 0;
    }
    .num-text{
      color: #dbdede;
      margin: .4rem 0 .1rem;
      font-size: .5rem;
    }
    .num{
      margin-bottom: 1.2rem;
      font-size: 1.2rem;
    }
    .in-out{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      > div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: inline-block;
        position: relative;
        width: 50%;
        text-align: center;
        margin-bottom: 1rem;
        img{
            width: 1rem !important;
            height: 1rem;
        }
        .money{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2c77ba;
            font-size: 14px;
            margin-bottom: 1rem;
            p{
                font-size: .7rem;
                margin-left: .6rem;
            }
            span{
                font-size: 12px;
                margin-left: .4rem;
            }
        }
        .money + div{
            font-size: .8rem;
            color: #2c77ba;
        }
        .unLogin{
            width: 6rem;
            margin: 1rem auto;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            border: 1px solid #2c72b1;
            border-radius: 5px;
            color: #2c72b1;
            font-size: .8rem;
//          display: none;
        }
        .logined{
            font-size: .7rem;
            .login-num{
                color:#2c72b1 ;
                font-size: .8rem;
            }
            p{
                margin-bottom: .6rem;
                font-size: .7rem;
                img{
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                }
                span{
                    margin-left: .5rem;
                }
            }
            >*{
                display: flex;
                justify-content: center;
                align-content: center;
            }
            >dl{
                font-size: .6rem;
                margin-top: .2rem;
                >*{
                    width: 3.5rem;
                    height: 1.2rem;
                    text-align: center;
                    line-height: 1.2rem;
                    border: 1px solid #2c72b1;
                    border-radius: 5px;
                    color: #fff;
                }
                dt{
                    border: none;
                    background: #2c72b1;
                    margin-right: 1rem;
                }
                dd{
                    color: #2c72b1;
                }
            }
        }
        img{
          width: 1.4rem;
        }
        p{
          font-size: .8rem;
//        margin: .1rem;
        }
      }
      > div:first-child:after{
        content:'';
        position: absolute;
        width: 1px;
        height: 120%;
        border-left: 1px solid #cbcbcb;
        right: 0;
        top: 0;
      }
    }
  }
  .bot{
    overflow: hidden;
    background: url('./images/acc_bg.png') no-repeat;
    background-size: cover;
//  用户头像
    .user-head{
        width: 100%;
        color: #fff;
        margin: 1rem 0;
        dt{
            width: 100%;
            img{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                display: block;
                margin: 0 auto;
            }
        }
        dd{
            width: 100%;
            text-align: center;
            font-size: .7rem;
            margin-top: .6rem;
        }
    }
  }
  .items{
    color: #333;
    padding: .5rem 0;
  }
  
  
  
  .dl-list{
      width: 100%;
      background: #f1f1f1;
      dt{
          width: 100%;
          padding: .7rem .7rem;
          box-sizing: border-box;
          position: relative;
          border-bottom: 1px solid #eee;
          background: #fff;
          &:nth-of-type(1){
              border-bottom:none ;
              margin-bottom: 1rem;
          }
          &:nth-of-type(4){
              border-bottom:none ;
              margin-bottom: 1rem;
          }
          &:after{
              content: "";
              width:.5rem;
              height: .5rem;
              border: 1px solid transparent;
              border-bottom-color: #ccc;
              border-right-color: #ccc;
              position: absolute;
              right: .8rem;
              top: 50%;
              transform: translateY(-50%) rotate(-45deg);
          }
          p{
            height: 100%;
            display: flex;
            align-items: center;
            font-size: .7rem;
          }
          img{
              width: 1rem;
              height: 1rem;
              margin-right: .5rem;
              background: #ccc;
          }
          
          
      }
  }
  
}
.server-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: .8rem;
    right: 1rem;
    color: #fff;
    img{
        width: 1rem;
        height: .8rem;
        margin-right: .3rem;
    }
}
